@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Underline:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --lila: #9b5de5;
  --bla: #00bbf9;
  --turkos: #00f5d4;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

#grid-container {
  display: flex;
  flex-direction: column;
}

#header-title {
  display: inline;
  font-family: "Roboto";
  font-size: 5rem;
}

nav {
  display: flex;
  justify-content: flex-end;
  padding-right: 1rem;
  ul {
    display: flex;
    gap: 2rem;
    list-style: none;
    text-transform: uppercase;
  }
}

.hero {
  font-family: "Montserrat Underline", sans-serif;
  height: 80vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./images/svall");
  background-size: cover;
}

.hero-container {
  text-align: center;
  font-size: 30px;
  padding: 100px;
  color: white;
  text-shadow: 0 0 5px white;
}
#call-to-action {
  display: inline-block;
  margin-top: 4rem;
  padding: 1rem 2rem;
  background-color: var(--lila);
  font-family: "Montserrat", sans-serif;
  color: black;
  font-weight: bold;
  border-radius: 5px;
  transition: filter 0.3s ease;
}
#call-to-action:hover {
  filter: brightness(150%);
}

a {
  text-decoration: none;
}

.weather-cont {
  width: 20vw;
  height: 20vh;
}

.cards-section {
  text-align: center;
}

.cards-section h2 {
  margin-top: 5rem;
}

.cards-container {
  margin: 5rem 0;
  display: flex;
  gap: 6rem;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
}

.cards {
  overflow: hidden;
  width: 400px;
  text-align: center;
}

.cards img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 5px;
}

footer {
  display: grid;
  justify-content: center; 
  align-items: center;          
  padding: 15px 30px;
  background: #222;
  color: white;
}

footer > *{
  text-align: center;
}

