:root {
  --lila: #9b5de5;
  --bla: #00bbf9;
  --turkos: #00f5d4;
}

#grid-container {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 60vh;
  background-image: url("https://visitsweden.com/_next/image/?url=https%3A%2F%2Fs3-eu-north-1.amazonaws.com%3A443%2Fpy3.visitsweden.com%2Foriginal_images%2F16540150572_86d6e511f5_o-CMSTemplate_rlL4sMx.jpg&w=1024&q=75");
  background-repeat: no-repeat;
  background-size: cover;
}

.cards-container {
  margin: 5rem 0;
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
}

.cards {
  overflow: hidden;
  width: 300px;
  text-align: center;
}

.cards img {
  width: 100%;
  height: auto;
  display: block;
}
